{% extends 'base.html.twig' %}
{% block body %}
<!DOCTYPE html>
        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
    {% block titleS %}
    {% endblock titleS %}
        <div class="row">
		 <div class="col s12 m10 l6 offset-m1 offset-l3 white z-depth-1">
            <div class="row center-align">
                {% block fos_header %}
                {% endblock fos_header %}
            </div>

            		{% block fos_user_content %}
            		{% endblock fos_user_content %}
		</div>
        </div>
{% endblock body %}
