{% extends 'base.html.twig' %}

{% block body %}
		<div class="row ">
			<div class="col s12 m9">
				{% block list %}
				{% endblock %}
			</div>
			<div class="col s3 hide-on-small-only">
				{% block aside %}
<img class="responsive-img" src="https://img.buzzfeed.com/buzzfeed-static/static/2014-06/17/0/enhanced/webdr04/enhanced-buzz-11439-1402978882-4.jpg">

<img class="responsive-img" src="https://img.buzzfeed.com/buzzfeed-static/static/2014-06/17/0/enhanced/webdr05/enhanced-buzz-21511-1402979203-4.jpg">

<img class="responsive-img" src="https://img.buzzfeed.com/buzzfeed-static/static/2014-06/17/0/enhanced/webdr05/enhanced-buzz-21511-1402979203-4.jpg">
				{% endblock %}
			
			</div>
			</div>
{% endblock %}
