{% extends 'base.html.twig' %}

{% block body %}
		<div class="row ">
			<section class="col s12 m9">
				{% block list %}
				{% endblock %}
			</section>
			<aside class="col s3 hide-on-small-only ">
				{% block aside %}

                    <img class="responsive-img" src="http://www14.0zz0.com/2015/03/26/19/797138995.jpg">

                    <img class="responsive-img" src="http://symfony.com/logos/symfony_black_03.png">

				{% endblock %}
			
			</aside>
		</div>
{% endblock %}
